<a href="https://colab.research.google.com/github/ayshalbt/python/blob/master/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 1
string1 = input("Enter the first string: ")
print(string1,end = "\n")
string2 = input("Enter the second string: ")
print(string2,end = "\n")
print("Are both strings equal or not: ",end = " ")
if (string1 == string2):
  print("Equal")
else:
  print("Not Equal")

In [2]:
 2
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
sum = a+b
print("sum = ",sum)

Enter the first number: 22
Enter the second number: 66
sum =  88

In [3]:
 3
number = int(input("Enter a number: "))
sqrt = number**0.5
print("square root: ",sqrt)

Enter a number: 64
square root:  8.0

In [5]:
 4
a = float(input("enter the first side: "))
b = float(input("enter the second side: "))
c = float(input("enter the third side: "))
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print("The area of the triangle is ",area)

enter the first side: 4
enter the second side: 6
enter the third side: 8
The area of the triangle is  11.61895003862225

In [6]:
 5
celsius = float(input("enter the temperature in celsius: "))
fahrenheit = (celsius*9/5)+32
print("Temperature in fahrenheit is: ",fahrenheit)

enter the temperature in celsius: 100
Temperature in fahrenheit is:  212.0

In [7]:
 6
num = int(input("enter a number: "))
if num > 0:
  print("{0} is a positive number".format(num))
elif num == 0:
  print("{0} is zero".format(num))
else:
  print("{0} is a negative number".format(num))

enter a number: -8
-8 is a negative number

In [8]:
 7
num1 = int(input("enter the first number: "))
num2 = int(input("enter the second number: "))
num3 = int(input("enter the third number: "))
if(num1 > num2) and (num1 > num3):
  largest = num1
elif(num2 > num1) and (num2 > num3):
  largest = num2
else:
  largest = num3
print("the largest number is ",largest)

enter the first number: 24
enter the second number: 67
enter the third number: 45
the largest number is  67